{{ $content := .Page.RenderString . }}
{{ $calloutRegex := `^\[!(\w+)(?:\|([^]]+))?\]` }}

{{ $match := findRE $calloutRegex $content 1 }}
{{ $type := "" }}
{{ $metadata := "" }}

{{ if $match }}
  {{ $match = index $match 0 }}
  {{ $type = lower (index (findRE `\w+` $match 1) 0) }}

  {{ if findRE `\|` $match }}
    {{ $metadata = replaceRE `^\[!\w+\|` "" $match }}
    {{ $metadata = replaceRE `\]$` "" $metadata }}
  {{ end }}

  <div class="callout" data-callout="{{ $type }}" {{ if $metadata }}data-callout-metadata="{{ $metadata }}"{{ end }} data-callout-fold="">
      <div class="callout-title">
          <div class="callout-icon"></div>
          <div class="callout-title-inner">{{ if $metadata }}{{ $metadata }}{{ else }}{{ $type | title }}{{ end }}</div>
      </div>
      <div class="callout-content">
          {{ replaceRE $calloutRegex "" $content | safeHTML }}
      </div>
  </div>
{{ else }}
  <blockquote>{{ .Page.RenderString . }}</blockquote>
{{ end }}
