name: Deploy Hugo Site to GitHub Pages

on:
  push:
    branches:
      - main  # Change this if your main branch is different.

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'

      - name: Install Theme
        run: git submodule update --init --recursive

      - name: Build the Hugo site
        run: hugo --minify --cleanDestinationDir --config config/_default/config.production.toml

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.GH_PAT }}
          publish_dir: ./docs  # Deploys files at the root of gh-pages
          publish_branch: gh-pages
          force_orphan: true  # Ensures old files are fully deleted before new ones are pushed
